html, body {
    margin: 0;
    background-color: lightgray;}
a.navbar-brand.navbar-brand1{
    color: red;
}
div.container.container-my{
    background-color: lightgray;
}
.color{background-color: lightgray;}
.form-group{
    margin-bottom: 1rem;
    width: 64%;
    margin-left: 20%;
}
.checkbox{
    width: 64%;
    margin-left: 20%;
}
.login{
    background-color: lightgray;


}