html, body {
    background-color: lightgray;
}
a.navbar-brand.navbar-brand1{
    color: red;
}
.container.my-container{
    background-color: lightgray;
    height: 0;

}
button.btn.btn-success.btn-green{
    margin-left: 12px;
}
